# Игнорировать кэш Terragrunt
*.terragrunt-cache

# Игнорировать Terraform state и другие временные файлы
.terraform/
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl

# Игнорировать настройки окружения
.envrc

# Игнорировать дебаг-файлы 
terragrunt-debug.tfvars.json

# Игнорировать рабочие каталоги
scripts
docs
remote_state.hcl